.headBtnContainer svg {
  fill: white;
  width: 20px;
}

.phoneNumberContainer span {
      display: flex;
}

.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.personalContactHeader :first-child,
.educationDetailsHeader :first-child,
.professionalDetailsHeader :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

img {
  width: 30px;
}

svg {
  width: 35px;
  pointer-events: none;
}

.downArrow,
.downArrowForEdu,
.downArrowForPractical {
  width: 30px;
  animation: rotateArrowIcon 0.8s;
  transition: background-color 1s ease-out 0.25s;
  align-items: center;
  transform: rotate(0deg);
}

.subEducationContainer {
        display: flex;
    /* flex-direction: column; */
    justify-content: start;
    gap: 15px;
    /* flex-wrap: wrap; */
    margin-top: 30px;
}

.subEducationContainer p {
  font-size: 1.2rem;
  height: 30px;
}

.subEducationContainer :first-child {
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 300px; */
    padding: 0;
    margin: 0;
}

.practicalExperienceContainer {
  padding: 20px;
}

.subPracticalExperienceContainer {
  
}


.eduTitle, .practicalTitle {
  background-color: whitesmoke;
  color: black;
  padding-left: 70px;
}

/* .edit {
  display: none;
} */
/* @keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

} */
