.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
}


    display: flex !important;
    gap: 10px;
    justify-content: space-between;
