@media (max-width: 500px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  div#main-app {
    display: flex;
    justify-content: normal;
    flex-direction: column-reverse;
    /* align-items: center; */
    gap: 0rem;
  }

  div.displaySubContainer {
    /* width: 99%; */
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  #cvForm header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 9px;
    padding: 30px;
    width: 97%;
  }

  h1.headText {
    /* padding-top: 15px; */
    text-decoration: none;
    text-underline-offset: 13px;
    animation: slide-in 1000ms linear;
    max-width: 400px;
    font-size: 2rem;
    color: black;
  }

  header svg {
    width: 40px;
  }

  p.userNameContainer {
    font-size: 1.6rem;
    height: 25px;
  }

  p.userEmailContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
  }

  p.phoneNumberContainer {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 20px;
    padding-bottom: 10px;
  }

  main#root {
    text-align: center;
    width: 120%;
  }

  .headBtnContainer button {
    font-size: 1.5rem;
  }

  div#cvForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 14px;
    width: 96%;
  }

  #cvFormContainer {
    max-width: 402px;
  }

  .alertUser {
    background-color: red;
    color: black;
    font-weight: 600;
    padding: 20px;
  }

  .alertUser:hover {
    background-color: yellow;
    color: black;
  }

  div.subEducationContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    margin: 41px 0 20px 0px;
  }

  div.emailPhoneContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 0;
  }

  p.eduTitle,
  p.practicalTitle {
    background-color: #bac2c9;
    color: black;
    padding-left: 20px;
    margin: 20px 0;
    font-weight: 600;
    font-size: 1.7rem;
  }

  div.personalContactHeader :first-child,
  div.educationDetailsHeader :first-child,
  div.professionalDetailsHeader :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .subEducationContainer div p {
    font-size: 1.7rem;
    height: 30px;
    display: flex;
    justify-content: start;
  }

  section#displayMainContainer {
    max-width: 489px;
    font-size: 0.8rem;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 0px;
  }

  div input,
  div textarea {
    min-width: 100px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
    transition: border-color 0.25s ease-in-out;
  }

  div label {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  ::placeholder {
    font-size: 1.2rem;
  }

  div input {
    width: 95%;
  }

  div button {
    font-size: 1.2rem;
  }

  .userContact,
  .educationExperience,
  .practicalExperience {
    /* border: 1px solid white; */
    border-radius: 9px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 2px 10px 1px black;
    padding: 15px;
    color: black;
    width: 97%;
  }

  p.practicalTitle {
    margin: 50px 0 0 0;
    padding-left: 0px;
  }

  div.practicalExperienceContainer p {
    font-size: 1.7rem;
  }

  button svg {
    width: 25px;
  }

  div.studiesMajor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.startDate,
  div.EndDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.jobExitDateContainer {
    display: flex;
    flex-direction: column;
  }

  div .alertUserContainer {
    display: block;
  }
}

@media (min-width: 501px) and (max-width: 699px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  div#main-app {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0rem;
    flex-direction: column-reverse;
  }

  #cvForm header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 9px;
    padding: 30px;
    width: 87%;
  }

  div .alertUser {
    background-color: red;
    color: black;
    font-weight: 600;
    padding: 20px;
  }

  .alertUser:hover {
    background-color: yellow;
    color: black;
  }

  h1.headText {
    /* padding-top: 15px; */
    text-decoration: none;
    text-underline-offset: 13px;
    animation: slide-in 1000ms linear;
    max-width: 400px;
    font-size: 1.7rem;
    color: black;
  }

  .gitHubSvgContainer svg {
    width: 50px;
  }

  header svg {
    width: 30px;
  }

  main#root {
    text-align: center;
    width: 120%;
  }

  .headBtnContainer button {
    font-size: 1.2rem;
  }

  div#cvForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 30px;
    margin-bottom: 50px;
  }

  #cvFormContainer {
    /* max-width: 250px; */
    margin: 30px 0 50px 30px;
  }

  div.userContactDisplay {
    background-color: #344b59;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 23px;
    /* max-height: 192px; */
    color: white;
    max-height: 100%;
    padding-inline: 8px;
  }

  div.subEducationContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    margin: 41px 0 20px -1px;
  }

  div.emailPhoneContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 0;
  }

  #displayMainContainer {
    /* max-width: 480px; */
    margin-top: 0px;
  }
  /* 
  div.displaySubContainer {
  } */

  input {
    font-size: 0.5rem;
  }

  div.personalContactHeader :first-child,
  div.educationDetailsHeader :first-child,
  div.professionalDetailsHeader :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;

    font-weight: 600;
  }

  div input,
  div textarea {
    min-width: 100px;
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    transition: border-color 0.25s ease-in-out;
  }

  ::placeholder {
    font-size: 1rem;
  }

  div input {
    width: 90%;
  }

  .userContact,
  .educationExperience,
  .practicalExperience {
    /* border: 1px solid white; */
    border-radius: 9px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 2px 10px 1px black;
    padding: 15px;
    color: black;
    width: 91%;
  }

  p.practicalTitle {
    margin: 50px 0 0 0;
    padding-left: 30px;
  }

  button svg {
    width: 25px;
  }

  div.studiesMajor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  div.alertUserContainer {
    display: block;
  }
  div.startDate,
  div.EndDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.jobExitDateContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  div#cvForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 30px;
  }

  #cvFormContainer {
    max-width: 500px;
  }

  .alertUserContainer {
    display: none;
  }

  div.subEducationContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    align-self: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    margin: 41px 0 20px -1px;
  }

  div.emailPhoneContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 0;
  }

  #displayMainContainer {
    max-width: 480px;
    width: 70%;
  }

  div input,
  div textarea {
    min-width: 100px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    transition: border-color 0.25s ease-in-out;
  }

  div input {
    width: 90%;
  }

  .userContact,
  .educationExperience,
  .practicalExperience {
    /* border: 1px solid white; */
    border-radius: 9px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 2px 10px 1px black;
    padding: 15px;
    color: black;
    width: 100%;
  }

  p.practicalTitle {
    margin: 50px 0 0 0;
    padding-left: 30px;
  }

  button svg {
    width: 25px;
  }

  div.studiesMajor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.startDate,
  div.EndDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .jobExitDateContainer {
    display: flex;
    flex-direction: column;
  }
}
.headBtnContainer svg {
  fill: white;
  width: 20px;
  cursor: pointer;
}

.phoneNumberContainer span {
  display: flex;
}

.alertUserContainer {
  display: none;
}

.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.personalContactHeader :first-child,
.educationDetailsHeader :first-child,
.professionalDetailsHeader :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.3rem;

  font-weight: 600;
}

img {
  width: 30px;
}

svg {
  width: 35px;
  pointer-events: none;
}

.downArrow,
.downArrowForEdu,
.downArrowForPractical {
  width: 30px;
  animation: rotateArrowIcon 0.8s;
  transition: background-color 1s ease-out 0.25s;
  align-items: center;
  transform: rotate(0deg);
}

.subEducationContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  align-self: center;
  gap: 4px;
  /* flex-wrap: wrap; */
  margin: 41px 0 20px -1px;
}

.subEducationContainer p {
  font-size: 1.3rem;
  height: 30px;
  display: flex;
  justify-content: start;
}

.subEducationContainer :first-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  /* max-width: 300px; */
  padding: 0;
  margin: 0;
}

.practicalExperienceContainer {
  padding: 20px;
  background-color: white;
}

.subPracticalExperienceContainer {
  color: black;
}

.eduTitle,
.practicalTitle {
  background-color: #bac2c9;
  color: black;
  padding-left: 20px;
  margin: 20px 0;
  font-weight: 600;
  font-size: 1.5rem;
}

button svg {
  width: 25px;
}

.studiesMajor,
.startDate {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.EndDate {
  display: flex;
  flex-direction: column;
}

.jobExitDateContainer {
  display: flex;
  flex-direction: column;
}

/* .edit {
  display: none;
} */
/* @keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

} */
