.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
}

.personalContactHeader :first-child, {
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

svg { 
  
  width: 35px;
}

.downArrow, .downArrowForEdu, .downArrowForPractical  {
  width: 30px;
  animation: rotateArrowIcon 0.8s;
  transition: background-color 1s ease-out 0.25s;
      align-items: center;
  transform: rotate(0deg);
}




 
 
 
 


/* @keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

} */
