* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 500px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  main#root {
    text-align: center;
    padding: 0 20px;
    width: 130%;
  }

  h1.headText {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 15px;
    text-decoration: none;
    text-underline-offset: 13px;
    animation: slide-in 1000ms linear;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .userContact form,
  .educationExperience form {
    padding-bottom: 45px;
    animation: grow-and-shrink 2000ms ease-in-out;
  }

  div.fullNameContainer {
    /* display: flex; */
    /* flex-direction: column; */

    padding-top: 50px;
    padding-bottom: 30px;
  }

  div.emailContainer,
  div.schoolNameContainer,
  div.studiesTitleContainer,
  div.NameOfCompanyContainer,
  div.PosInJobContainer,
  div.JobResponsibilitiesContainer,
  div.jobEntryDateContainer {
    padding-bottom: 30px;
  }

  span.userNameError,
  span.emailError,
  span.phoneNumberError,
  span.companyNameError,
  span.jobPositionError,
  span.jobResponsibilitiesError,
  span.jobEntryDateError,
  span.jobExitDateError {
    display: block;
    background-color: red;
    font-weight: 600;
    max-width: 317px;
  }

  div label {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  form input,
  form textarea {
    display: flex;
    flex-grow: 1;
    min-width: 10px;
    max-width: 550px;
    width: 90%;
    height: 50px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    /* margin: 0 auto; */
    /* cursor: click; */
    transition: border-color 0.25s ease-in-out;
  }

  input:focus-visible {
    /* outline: 1px solid #3ce041; */
    border: 1px solid #f913f9;
  }

  input:valid {
    /* outline: 2px solid #f7733f; */
    border: 1px solid white;
  }

  input:invalid {
    outline: 2px solid white;
    border: 1px solid white;
  }

  main ::placeholder {
    font-size: 1.1rem;
  }

  .JobResponsibilitiesContainer ::placeholder {
    padding-top: 20px;
    font-size: 1.1rem;
  }

  button {
    margin: 15px 0;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
  }

  div.userContactDisplay {
    padding-top: 50px;
  }

  div.userContactDisplay span,
  div.practicalExperienceEl span {
    font-weight: 600;
  }

  .asterisk {
    color: red;
  }

  main p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    line-height: 40px;
  }

  div.educationExperienceEl span {
    font-weight: 600;
  }

  #Job_responsibilities {
    min-height: 180px;
    max-height: 180px;
  }
}

@media (min-width: 501px) and (max-width: 659px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  main#root {
    text-align: center;
    padding: 0 20px;
    width: 130%;
  }

  h1.headText {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 15px;
    text-decoration: none;
    text-underline-offset: 13px;
    animation: slide-in 1000ms linear;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .userContact form,
  .educationExperience form {
    padding-bottom: 45px;
  }

  div.fullNameContainer {
    /* display: flex; */
    /* flex-direction: column; */

    padding-top: 50px;
    padding-bottom: 30px;
  }

  div.emailContainer,
  div.schoolNameContainer,
  div.studiesTitleContainer,
  div.NameOfCompanyContainer,
  div.PosInJobContainer,
  div.JobResponsibilitiesContainer,
  div.jobEntryDateContainer {
    padding-bottom: 30px;
  }

  div label {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  form input,
  form textarea {
    display: flex;
    flex-grow: 1;
    min-width: 10px;
    max-width: 550px;
    width: 99%;
    height: 50px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    /* margin: 0 auto; */
    transition: border-color 0.25s ease-in-out;
  }

  input:focus-visible {
    /* outline: 1px solid #3ce041; */
    border: 1px solid #f913f9;
  }

  main ::placeholder {
    font-size: 1.1rem;
  }

  .JobResponsibilitiesContainer ::placeholder {
    padding-top: 20px;
    font-size: 1.1rem;
  }

  button {
    margin: 15px 0;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
  }

  div.userContactDisplay {
    padding-top: 50px;
  }

  div.userContactDisplay span,
  div.practicalExperienceEl span {
    font-weight: 600;
  }

  .asterisk {
    color: red;
  }

  main p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    line-height: 40px;
  }

  div.educationExperienceEl span {
    font-weight: 600;
  }

  #Job_responsibilities {
    min-height: 180px;
    max-height: 180px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #bac2c9;
}

#main-app {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  padding: 20px;
}

#root {
  text-align: center;
}

#cvForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 9px;
  padding: 30px;
}

.headText {
  /* padding-top: 15px; */
  text-decoration: none;
  text-underline-offset: 13px;
  animation: slide-in 1000ms linear;
  max-width: 400px;
  font-size: 1rem;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

#displayMainContainer {
  font-size: 0.8rem;
  border-radius: 9px;
  box-shadow: 1px 2px 10px 1px black;
}

/* 
.inputContainer {
        display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 70px 70px;
}

.fullNameContainer {
    grid-area: 1 / 1 / 2 / 3;
}

.emailContainer {
grid-area: 2 / 1 / 3 / 2;
}

.emailInputEl {
    min-width: 10px;
}

.mobileNumberContainer {
grid-area: 2 / 2 / 3 / 3;

}
 */
.userContactDisplay {
  background-color: #2f4858;
  display: grid;
  grid-template-rows: 100px 50px;
  gap: 10px;
  font-size: 13px;
  padding-top: 20px;
  text-align: center;
  
}

.userNameContainer {
  grid-area: 1 / 1 / 2 / 3;
}

.userEmailContainer {
  grid-row: 2 / 3;
}

.phoneNumberContainer {
  grid-row: 2 / 3;
}

.userNameError,
.emailError,
.phoneNumberError,
.companyNameError,
.jobPositionError,
.jobResponsibilitiesError,
.jobEntryDateError,
.jobExitDateError {
  display: block;
  background-color: red;
  font-weight: 600;
}

.userContact,
.educationExperience,
.practicalExperience {
  /* border: 1px solid white; */
  border-radius: 9px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 2px 10px 1px black;
  padding: 20px;
}

.userContact form,
.educationExperience form {
  padding-bottom: 45px;

  animation: grow-and-shrink 2000ms ease-in-out;
}

.fullNameContainer {
  /* display: flex; */
  /* flex-direction: column; */

  padding-top: 60px;
  padding-bottom: 30px;
}

.emailContainer,
.schoolNameContainer,
.studiesTitleContainer,
.NameOfCompanyContainer,
.PosInJobContainer,
.JobResponsibilitiesContainer,
.jobEntryDateContainer {
  padding-bottom: 35px;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
}

input,
textarea {
  min-width: 600px;
  height: 50px;
  font-size: 1.3rem;
  padding: 0 10px;
  border-radius: 8px;
  border: none;

  /* cursor: click; */
  transition: border-color 0.25s ease-in-out;
}

input:focus-visible {
  /* outline: 1px solid #3ce041; */
  border: 1px solid #f913f9;
}

::placeholder {
  font-size: 1.3rem;
  padding-top: 20px;
  color: rgb(180, 173, 173);
}

button {
  margin: 15px 0;
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

.userContactDisplay span,
.practicalExperienceEl span {
  font-weight: 500;
}

.asterisk {
  color: red;
}

p {
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
  line-height: 55px;
}

.educationExperienceEl span {
  font-weight: 700;
}

#Job_responsibilities {
  min-height: 180px;
  max-height: 180px;
}
