.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
}


.downArrow {
     width: 30px;

animation: rotateArrowIcon 0.1s;
           transform: rotate(0deg);

}

@keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

}
