.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
}


.downArrow {
       transform: rotate(180deg);
animation: rotateArrowIcon 2ms;
}

@keyframes rotateArrowIcon {
  from {
    
  }

  to {
    
  }

}
