@media (max-width: 500px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  main#root {
    text-align: center;
    padding: 0 20px;
    width: 130%;
  }

  h1.headText {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 15px;
    text-decoration: none;
    text-underline-offset: 13px;
    animation: slide-in 1000ms linear;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .userContact form,
  .educationExperience form {
    padding-bottom: 45px;
    animation: grow-and-shrink 2000ms ease-in-out;
  }

  div.fullNameContainer {
    /* display: flex; */
    /* flex-direction: column; */

    padding-top: 0;
    padding-bottom: 30px;
  }

  div.emailContainer,
  div.schoolNameContainer,
  div.studiesTitleContainer,
  div.NameOfCompanyContainer,
  div.PosInJobContainer,
  div.JobResponsibilitiesContainer,
  div.jobEntryDateContainer {
    padding-bottom: 30px;
  }

  span.userNameError,
  span.emailError,
  span.phoneNumberError,
  span.companyNameError,
  span.jobPositionError,
  span.jobResponsibilitiesError,
  span.jobEntryDateError,
  span.jobExitDateError {
    display: block;
    background-color: red;
    font-weight: 600;
    max-width: 317px;
  }

  div label {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  form input,
  form textarea {
    display: flex;
    flex-grow: 1;
    min-width: 10px;
    max-width: 550px;
    width: 90%;
    height: 50px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    /* margin: 0 auto; */
    /* cursor: click; */
    transition: border-color 0.25s ease-in-out;
  }

  input:focus-visible {
    /* outline: 1px solid #3ce041; */
    border: 1px solid #f913f9;
  }

  input:valid {
    /* outline: 2px solid #f7733f; */
    border: 1px solid white;
  }

  input:invalid {
    outline: 2px solid white;
    border: 1px solid white;
  }

  main ::placeholder {
    font-size: 1.1rem;
  }

  .JobResponsibilitiesContainer ::placeholder {
    padding-top: 20px;
    font-size: 1.1rem;
  }

  button {
    margin: 15px 0;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
  }

  div.userContactDisplay {
    padding-top: 50px;
  }

  div.userContactDisplay span,
  div.practicalExperienceEl span {
    font-weight: 600;
  }

  .asterisk {
    color: red;
  }

  main p {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    line-height: 40px;
  }

  div.educationExperienceEl span {
    font-weight: 600;
  }

  #Job_responsibilities {
    min-height: 180px;
    max-height: 180px;
  }
}

@media (min-width: 501px) and (max-width: 699px) {
  #MainBody {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
  }

  main#root {
    text-align: center;
    padding: 0 20px;
    width: 130%;
  }

  .headBtnContainer button {
    font-size: 0.8rem;
  }

  div#cvForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 30px;
  }

  #cvFormContainer {
    max-width: 500px;
  }

  div.subEducationContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    margin-top: 91px;
  }

  div.emailPhoneContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 0;
  }

  #displayMainContainer {
    max-width: 480px;
    width: 70%;
  }

  div input,
  div textarea {
    min-width: 100px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    transition: border-color 0.25s ease-in-out;
  }

  div input {
    width: 90%;
  }

  .userContact,
  .educationExperience,
  .practicalExperience {
    /* border: 1px solid white; */
    border-radius: 9px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 2px 10px 1px black;
    padding: 15px;
    color: black;
    width: 100%;
  }

  p.practicalTitle {
    margin: 50px 0 0 0;
    padding-left: 30px;
  }

  button svg {
    width: 25px;
  }

  div.studiesMajor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.startDate,
  div.EndDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.jobExitDateContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  div#cvForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 30px 0 0 30px;
  }

  #cvFormContainer {
    max-width: 500px;
  }

  div.subEducationContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    align-self: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    margin-top: 91px;
  }

  div.emailPhoneContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    gap: 20px;
  }

  #displayMainContainer {
    max-width: 480px;
    width: 70%;
  }

  div input,
  div textarea {
    min-width: 100px;
    height: 40px;
    font-size: 1.3rem;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
    transition: border-color 0.25s ease-in-out;
  }

  div input {
    width: 90%;
  }

  .userContact,
  .educationExperience,
  .practicalExperience {
    /* border: 1px solid white; */
    border-radius: 9px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 2px 10px 1px black;
    padding: 15px;
    color: black;
    width: 100%;
  }

  p.practicalTitle {
    margin: 50px 0 0 0;
    padding-left: 30px;
  }

  button svg {
    width: 25px;
  }

  div.studiesMajor {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  div.startDate,
  div.EndDate {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .jobExitDateContainer {
    display: flex;
    flex-direction: column;
  }
}
.headBtnContainer svg {
  fill: white;
  width: 20px;
}

.phoneNumberContainer span {
  display: flex;
}

.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.personalContactHeader :first-child,
.educationDetailsHeader :first-child,
.professionalDetailsHeader :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

img {
  width: 30px;
}

svg {
  width: 35px;
  pointer-events: none;
}

.downArrow,
.downArrowForEdu,
.downArrowForPractical {
  width: 30px;
  animation: rotateArrowIcon 0.8s;
  transition: background-color 1s ease-out 0.25s;
  align-items: center;
  transform: rotate(0deg);
}

.subEducationContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: flex-start;
  /* gap: 15px; */
  /* flex-wrap: wrap; */
  margin-top: 50px;
}

.subEducationContainer p {
  font-size: 1.3rem;
  height: 30px;
  display: flex;
  justify-content: start;
}

.subEducationContainer :first-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: self-start;
  /* max-width: 300px; */
  padding: 0;
  margin: 0;
}

.practicalExperienceContainer {
  padding: 20px;
  background-color: white;
}

.subPracticalExperienceContainer {
  color: black;
}

.eduTitle,
.practicalTitle {
  background-color: #bac2c9;
  color: black;
  padding-left: 20px;
  margin: 20px 0;
  font-weight: 600;
  font-size: 1.5rem;
}

button svg {
  width: 25px;
}

.studiesMajor, .startDate {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.EndDate {
  display: flex;
  flex-direction: column;
}

/* .edit {
  display: none;
} */
/* @keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

} */
