.headBtnContainer svg {
  fill: white;
  width: 20px;
}

.personalContactHeader,
.educationDetailsHeader,
.professionalDetailsHeader {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.personalContactHeader :first-child,
.educationDetailsHeader :first-child,
.professionalDetailsHeader :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

img {
  width: 30px;
}

svg {
  width: 35px;
  pointer-events: none;
}

.downArrow,
.downArrowForEdu,
.downArrowForPractical {
  width: 30px;
  animation: rotateArrowIcon 0.8s;
  transition: background-color 1s ease-out 0.25s;
  align-items: center;
  transform: rotate(0deg);
}

.subEducationContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.subEducationContainer :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  
}

/* @keyframes rotateArrowIcon {
  from {
           transform: rotate(0deg);

  }

  to {
           transform: rotate(180deg);

  }

} */
